.landingPage {
    background-color: #E5E5E5;
    margin-top: 0px;
    color: #000000;
}
/* .landingSignIn {
    position: absolute;
width: 215px;
height: 44px;
left: 250px;
top: 793px;
} */
/* .sign-in-para {
    margin: 0 0 0 30rem;
    width: 80%;
  } */
  .LPSection {
      display: flex;
      margin: 7% 0 12% 0;
  }
  .LPPara {
      width: 40%;
      margin-right: 5rem;
      margin-left: 2rem;
  }
  /* .searchImage {
      width: 40%;
      display: flex;
  } */
  /* .LPimage {
      margin: auto;

  } */
  /* .trackingSection {
      display: flex;
  } */
  .trackingImg {
      width: 40%;
      display: flex;
  }
  /* .LPPara {
    width: 40%;
  } */
  .features {
      /* display: flex; */
      /* margin: 10rem 0 0 0; */
  }
  #featuresHeading {
    text-align: center;
    

  }
  .featureRow {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      column-count: 3;
      column-gap: 40px;
      width: 100%;
      border: 1px solid purple;
  }
  .landingPage img {
    
      justify-content: space-between;
  }