.landingPage {
    background-color: #E5E5E5;
}
.sign-in-para {
    margin: 0 0 0 50rem;
  }
  .searchSection {
      display: flex;
      margin: 10% 0 12% 0;
  }
  .searchPara {
      width: 40%;
  }
  .searchImage {
      width: 40%;
      display: flex;
  }
  .image {
      margin: auto;

  }
  .trackingSection {
      display: flex;
  }
  .trackingImg {
      width: 40%;
      display: flex;
  }
  .trackingPara {
    width: 40%;
  }
  .features {
      margin: 10rem 0 0 0;
      text-align: center;
  }
  #featuresHeading {
    text-align: center;
    margin: auto;
    

  }
  #row {
    display: flex;
    width: 100%;
    column-count: 3;
    /* column-gap: 20px; */
    justify-content: space-evenly;
    margin: 10rem 10rem 10rem 0;
  }
  img {
      text-align: center;
      justify-content: space-around;
      column-rule-width: 20px;
  }
    .testimonialSection {
        margin: 5%;
    }
  
  .testimonialHeader {
      text-align: center;
  }
  .testimonials {
    /* display: flex; */
    margin-top: 5rem;
  }
  .testimonial1 {
    display: block;
    column-count: 2;
    background-color: hotpink;
    margin-top: 5rem;
  }
  .testimonial2 {
    display: block;
    column-count: 2;

    margin-top: 5rem;
  }
  .testimonial3 {
    display: inline-flex;
    column-count: 2;

    margin-top: 5rem;
  }
  .testPhoto {
      display: inline;
  }