body {
}

.wrapper {
  padding-top: 30px;
}

body h3 {
  margin-bottom: 25px;
}

.navbar-brand a {
  color: #ffffff;
}

input{
  color: red !important;
}

.form-wrapper {
  display: flex;
  border-radius: .2rem;
  margin: 0 auto;
  color: black !important;
  padding: 4rem 4rem;
}
.modal-content {
  
  width: 60%;
  align-items: center;
  justify-content: center;
  margin-left: 20%;
  margin-top: 10rem;

}

.table-wrapper {
  /* max-width: 700px; */
  width: 100%;
}

.edit-link {
  padding: 7px 10px;
  font-size: 0.875rem;
  line-height: normal;
  border-radius: 0.2rem;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  margin-right: 10px;
  position: relative;
  top: 1px;
}

.edit-link:hover {
  text-decoration: none;
  color: #ffffff;
}

h1 {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: 600;
  font-size: calc(2rem + 1.5vw);
}

.site-title {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.hero-img {
  position: fixed;
  z-index: -20;
  width: 100vw;
  height: 50vh;
  max-height: 400px;
  object-fit: cover;
  object-position: bottom;
}

.navbar {
  background: rgba(1, 1, 1, 0.3) !important;
  height: 4rem;

}
.inlineIcon {
  vertical-align: middle;
}

.l {width: 1.5rem}
.xl {width: 2rem}

.container {
  width: 100%;
  max-width: none;
  padding: 0 2rem;
}
.round {
  margin: 10% 30%;
  width: 9rem;

}
.form-group {
  width: 195%;

  margin-left: -1rem;
}
.form-label {
  margin: 0 30%;
  align-items: center;
  width: fit-content;
}
.form-control {
  margin: 1rem -1rem;
  width: 60%;
}
#createSubmit {
  margin: 1rem 3rem;
}
form {
  margin-right: 1‒;
  margin-right: 250px;

}

